<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" type="text/javascript" charset="utf-8"></script>

<h1>Dashboard</h1>
<section>
    <div class="col-xs-12 col-sm-4 col-lg-3">
        <img src="{{main.user.pic}}" class="img-responsive img-circle" width="120px" height="120px" title="{{main.user.name}}">
        <h4>{{main.user.name}}</h4>
        <p>Diabetic Type 1</p>
    </div>
</section>
<style type="text/css" media="screen">
    .widget-holder {}

    .widget {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 10px;
    }

    .widget-body .x.axis, .widget-body .y.axis{ display: none; }
</style>

<section class="widget-holder col-xs-12 col-sm-5 col-lg-4">
    <div class="widget">
        <div class="widget-header">
            <span class="widget-title">Glucose</span>
            <!-- <span class="pull-right">90 days <span class="glyphicon glyphicon-chevron-down"></span> </span> -->

            <div class="dropdown pull-right">
            <span ng-click="dash.widgetOp = !dash.widgetOp">
                {{dash.widgetSelected}} <span class="caret"></span>
            </span>
            <ul class="dropdown-menu" role="menu" ng-show="dash.widgetOp" style="display: block;">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="dash.measuresFromLastDays(30)">{{dash.widgetSelectedOptions[0]}}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="dash.measuresFromLastDays(90)">{{dash.widgetSelectedOptions[1]}}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="dash.measuresFromLastDays(365)">{{dash.widgetSelectedOptions[2]}}</a></li>
            </ul>
        </div>

    </div>
    <div class="widget-body">
        <linechart data="dash.chartData" options="dash.gcOptions" mode="" width="" height="300"></linechart>
        <div class="clearfix"></div>

        <div><span class="glyphicon glyphicon-tint text-warning"></span> med: {{dash.medMeasure | number: 0}} mg/dl</div>
        <div><span class="glyphicon glyphicon-tint text-danger"></span> min: {{dash.maxMeasure.value}} mg/dl</div>
        <div><span class="glyphicon glyphicon-tint text-success"></span> max: {{dash.minMeasure.value}} mg/dl</div>
    </div>
</div>
</section>

<div class="clearfix"></div>

<linechart data="dash.chartData" options="dash.gcOptions" mode="" width="" height="300"></linechart>

<!-- <p>mymeasures: {{dash.chartData}}</p> -->
<!-- <div class="col-xs-3"><p ng-repeat="chartValue in dash.chartData">{{chartValue.datetime}}</p></div>
<div class="col-xs-3"><p ng-repeat="measureValue in dash.mymeasures">{{measureValue.datetime}}</p></div> -->



