<section class="container">

	<H1>{{ main.user.name }}</H1>

	<input type='file' ng-model='selfUser.mypic' base-sixty-four-input>
	<img ng-if="selfUser.mypic" src="data:{{selfUser.mypic.filetype}};base64,{{selfUser.mypic.base64}}" />
	<button ng-if="selfUser.mypic" ng-click="selfUser.updatePicture()" class="btn btn-xs btn-primary"> <span class="glyphicon glyphicon-upload"></span> upload</button>
	<!-- <pre>{{selfUser.mypic}}</pre> -->
	<hr>
	<p>USER:{{main.user}}</p>
	<hr>
	<p><img src="{{main.user.pic}}" alt=""></p>

</section>